.formcontainer{
    margin-top: 10%;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
  width: 50%;
    font-size: larger;
    font-style: inherit;
    font-weight: bold;
    border-radius: 10px;
    color: aliceblue;
    background-color:  #c88328;
    padding: 10px;
}

.css{
  background-color:  #e3af6b;;
}