.form{
    margin-top: 10%;
    margin-left: 25%;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: bisque;
    font-size: larger;
    font-style: inherit;
    font-weight: bold;
    border-radius: 10px;
    gap: 8px;
    color: aliceblue;
    background-color: black;
    line-gap-override: 20px;
    }
    .form label{
        margin-top: 1rem;
        margin-left: 1rem;
        
        width: 100%;
      
        border-radius: 5px;
        border: none;
        padding: 5px;
       
        font-weight: bold;
        font-style: italic;
        
    }
   
